* {
    box-sizing: border-box;
}

body {
    background-color: #fee5b7;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
    width: 800px;
    max-height: 100%;
    height: 400px;
}

h1 {
    font-size: 2rem;
    color: #a27c00;
    text-transform: uppercase;
}

.category {
    font-size: 1.5rem;
    color: #a27c00;
    text-transform: capitalize;
}

.joke {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 50px;
    height: 30%;
    width: auto;
}

.btn {
    background-color: #fee5b7;
    color: #a27c00;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: 0;
}